{% extends "@Contao/frontend_module/_base.html.twig" %}

{% block content %}

  {% if result %}

    <h3>{{ result_headline }}</h3>

    {{ result_explanation|raw }}

    {{ result_text|raw }}

    {% if (send_form is defined) and (mail_sent is not defined or mail_sent === false) %}

      {{ send_form_label }}

      {{ send_form|raw }}

    {% endif %}

  {% else %}

    <h3>{{ questionnaire_headline }}</h3>

    {{ questionnaire_explanation|raw }}

    {{ form|raw }}

  {% endif %}

{% endblock %}